form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
